*{
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assetsD/pexels-pranjall-kumar-7849087.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #1a1a1a; */
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width:100wh;
}





