.count{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    -webkit-text-stroke:1px #06015f;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.playerName{
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.12rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000000; /* WebKit browsers only */
}


.card div{
    z-index: 1;
    height: fit-content;
    width: max-content;
    padding: 10px;
}
.card {
    margin: 10px;
    padding-top:20px;
    height: 240px;
    background: #a54c1f22;
    backdrop-filter: blur( 3px );
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    border-radius: 7px;
  }
  

  
  
  
