
.chess-table {
  background-color: #f7f7f7;
  color: #0bff9d89;
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom:8px;
  display: flex;
  flex-direction: row;
  margin-top: 7vh;
  height:580px;
  border: #000000 solid 2px;
  box-shadow: #191919 7px 20px 17px 0px ;
}
.chess-row {
  display: flex;
  flex-direction: row;
}
.chess-row p{
  margin-right: 2%;
}
.alpha {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.alpha p{
  margin: 0;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 600px;
  margin-top: 0;
}
ul li{
  width: 33px ;
  height: 70px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.chess-cell {
  width: 70px;
  height: 70px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  position: relative; 
}

 p {
  font-size: 1rem;
  font-weight: 800;
  color: #000000; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Replace 'Your-Chosen-Font-Family' with your chosen font */
  margin-left: 30px;
  padding: 0;
  margin-right: 30px;
}

.white {
  background-color: #fff3ea;
}
.brown {
  background-color: #bd6019;
}
.promotion-square{
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  width: 72px;
  height: 72px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
}
option  {
  width: 70px;
  height: 70px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff; /* Brown color */

}
